<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <span><strong>dual.rocks</strong></span>
            <span>&nbsp;&frasl;&frasl;&nbsp;</span>
            <span>Check the code on <a href="https://github.com/dual-rocks/dual.rocks"
                    target="_blank">GitHub</a>.</span>
            <span>The source code is licensed <a href="http://opensource.org/licenses/mit-license.php"
                    target="_blank">MIT</a>.</span>
        </p>
    </div>
</footer>
