{% load i18n privacy thumbnail %}
<div class="columns">
    <div class="column is-one-third">
        <div class="notification is-primary">
            {% include "web/elements/profile_summary.html" %}
        </div>
    </div>
    <div class="column">
        <div class="has-vertical-margin">
            {% if profile.bio %}
            <p><small><strong>{% trans "BIO" %}</strong></small>:</p>
            <p>{{ profile.bio }}</p>
            {% endif %}
        </div>
        <div class="has-vertical-margin">
            <p><small><strong>{% trans "FOTOS" %}</strong></small>:</p>
            {% if profile.user == user %}
            <a href="{% url "web:profile:add_photo" at=profile.at %}" class="button is-primary is-light is-small">
                <span class="icon">
                    <i class="fas fa-plus"></i>
                </span>
                <span>{% trans "Adicionar foto" %}</span>
            </a>
            {% endif %}
            {% with profile.photos.all as photos %}
            {% if photos.count > 0 %}
            <div class="columns is-multiline is-mobile is-marginless">
                {% for photo in photos %}
                <div class="column is-one-quarter-tablet is-half-mobile">
                    {% image_with_privacy photo "image" as iwp %}
                    <a href="{{ iwp.processed_image.url }}" target="_blank">
                        <img src="{{ iwp.processed_image|thumbnail_url:'photo' }}" alt="{% trans "Foto" %} #{{photo.id}}" />
                    </a>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p><small><i>{% trans "Não carregou nenhuma foto" %}</i></small></p>
            {% endif %}
            {% endwith %}
        </div>
    </div>
</div>
