{% extends "web/layouts/base.html" %}
{% load i18n %}

{% block body %}
<header>
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url "web:home" %}">dual.rocks</a>
            <div class="navbar-burger burger" data-navbar-toggle="#navbar">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navbar" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="">{% trans "Entrar" %}</a>
            </div>
        </div>
    </nav>
    <h1 class="title has-text-centered">dual.rocks</h1>
</header>
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <span><strong>dual.rocks</strong></span>
            <span>&nbsp;&frasl;&frasl;&nbsp;</span>
            <span>Check the code on <a href="https://github.com/dual-rocks/dual.rocks" target="_blank">GitHub</a>.</span>
            <span>The source code is licensed <a href="http://opensource.org/licenses/mit-license.php" target="_blank">MIT</a>.</span>
        </p>
    </div>
</footer>
{% endblock %}
