{% extends "web/layouts/base.html" %}

{% load i18n %}

{% block body %}
<div class="profile">
    <header>
        {% include "web/elements/navbar.html" %}
        <img src="{{ profile.picture_url }}" />
    </header>
</div>
<div class="has-text-centered">
    <a href="{% url "web:profile:edit" at=profile.at %}" class="button is-rounded">
        <span class="icon"><i class="fas fa-pencil-alt"></i></span>
        <span>{% trans "Editar Perfil" %}</span>
    </a>
    <a href="{% url "web:profile:update_picture" at=profile.at %}" class="button is-rounded">
        <span class="icon"><i class="fas fa-camera"></i></span>
        <span>{% trans "Atualizar foto do Perfil" %}</span>
    </a>
</div>
<hr />
<div class="container is-fluid">
    {% include "web/elements/profile_content.html" %}
</div>
<hr />
{% include "web/elements/footer.html" %}
{% endblock %}
