{% extends "web/layouts/base.html" %}

{% load i18n web_tags %}

{% block body %}
<div class="profile">
    <header>
        {% include "web/elements/navbar.html" %}
        <img src="{% get_picture_url profile %}" alt="{% trans "Foto do perfil" %}" />
    </header>
</div>
<div class="container is-fluid has-vertical-margin">
    {% if user.is_anonymous %}
    <p class="notification is-warning">
        {% trans "Por motivos de privacidade, todas as fotos estão com blur. Entre na sua conta ou crie uma, para ter acesso." %}
    </p>
    {% endif %}
    {% include "web/elements/profile_content.html" %}
</div>
{% include "web/elements/footer.html" %}
{% endblock %}
