{% extends "web/layouts/base.html" %}

{% load i18n %}

{% block body %}
<header>
    {% include "web/elements/navbar.html" %}
    <h1 class="title has-text-centered">{% trans "perfis" %}</h1>
</header>
<hr />
<div class="container is-fluid">
    <div class="columns is-multiline">
        {% for profile in user.profiles.all %}
        <div class="column is-one-quarter">
            <a href="{% url "web:profile" at=profile.at %}" class="profile box">
                <img src="{{ profile.picture_url }}" />
                <h2 class="title is-6 has-text-centered">{{ profile.name }}</h2>
                <h2 class="subtitle is-6 has-text-centered">@{{ profile.at }}</h2>
            </a>
        </div>
        {% endfor %}
        <div class="column is-one-quarter">
            <a href="{% url "web:create-profile" %}" class="profile box">
                <span class="icon is-large"><i class="fas fa-3x fa-plus"></i></span>
                <h2 class="title is-6 has-text-centered">{% trans "Criar perfil" %}</h2>
            </a>
        </div>
    </div>
</div>
<hr />
{% include "web/elements/footer.html" %}
{% endblock %}
