@import "~bulma/bulma";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  overflow: auto;
}

body {
  overflow-x: hidden;
}

@import "./navbar.scss";
@import "./footer.scss";
@import "./pages/home.scss";
@import "./pages/profile.scss";
