@import "~bulma/bulma";
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  overflow: auto;
}

body {
  overflow-x: hidden;
}

.has-vertical-margin {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@import "./elements/navbar.scss";
@import "./elements/footer.scss";
@import "./elements/profile-box.scss";
@import "./elements/crop-image-file-input-image-container.scss";
@import "./pages/home.scss";
@import "./pages/profile.scss";
